*,
::after,
::before {
  box-sizing: border-box;
  font-family: 'Lato', sans-serif;
}

html,
body {
  margin: 0;
  padding: 0;
}

h1 {
  margin: 0;
  margin-bottom: 48px;
  line-height: 2rem;
}

h2 {
  display: inline-block;
  font-size: 1.5em;
  margin-block-start: 0;
  margin-block-end: 0;
  margin-inline-start: 0;
  margin-inline-end: 0;
  font-weight: bold;
}

p {
  line-height: 2rem;
}

.card p {
  line-height: 1.75rem;
}

div.max-width-wrapper {
  background-color: hsl(0deg, 0%, 100%);
  padding: 64px 0;
  border-bottom: solid 8px hsl(0deg, 0%, 40%);
}

.intro-chunk {
  max-width: 700px;
  /* min-width: 600px; */
  /* width: min-content; */
  margin-left: auto;
  margin-right: auto;
  padding-left: 24px;
  padding-right: 32px;
}

.intro-chunk p {
  font-size: 1.5rem;
  max-width: 400px;
  margin-right: auto;
}

section.max-width-wrapper {
  background-color: hsl(0deg, 0%, 60%);
  padding: 80px 0;
}

.card {
  max-width: 700px;
  margin-left: auto;
  margin-right: auto;
  background-color: hsl(0deg, 0%, 100%);
  padding: 8px 32px 8px 24px;
  border-bottom: solid 8px hsl(0deg, 0%, 40%);
}

.card p {
  font-size: 1.25rem;
}

.indented-heading {
  /* width: fit-content; */
  padding: 24px 40px;
  margin-left: -40px;
  background-color: hsl(45deg, 100%, 50%);
  border-bottom: solid 8px hsl(45deg, 100%, 40%);
}

p strong {
  color: hsl(160deg, 100%, 30%);
}
/* Add styles here! */
